<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" >
    <meta http-equiv="Content-Language" content="en_US">
    <meta name="viewport" content="width=device-width">
    <meta name="google" content="notranslate">
    
    <title></title>
	
    <script src="../../Scripts/Third Party/jquery-1.11.2/jquery-1.11.2.min.js"></script>
	<script src="../../Scripts/Third Party/knockout-3.2.0/knockout-3.2.0.js"></script>
	<script src="../../Scripts/Helpers.min.js"></script>
	<script src="../../Scripts/PageModel.min.js"></script>
	<script src="../../Scripts/Navigation.min.js"></script>
	<script src="../../Scripts/Controller.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../../Styles/Generated/Common/header.min.css">
	<link rel="stylesheet" type="text/css" href="../../Styles/Generated/Common/navigation.min.css">
	<link rel="stylesheet" type="text/css" href="../../Styles/Generated/Common/footer.min.css">
	<link rel="stylesheet" type="text/css" href="../../Styles/Generated/Common/structure.min.css">
</head>
<body>
	<div class="wrapper">
		<header id="header">
			<div class="header-bar">
				<div class="settings">
					<a href="#" class="header-link" data-nav="Account">Account</a>
					<a href="#" class="header-link" data-nav="Projects">Projects</a>
					<a href="#" class="header-link" data-nav="Communities">Communities</a>
					<a href="#" data-nav="">Sign Out</a>
				</div>
			</div>
		</header>

		<div class="site-main">
			<header> 
				<div id="page-header"></div>
			</header>
			<section id="main-body">
			</section>
		</div>
		
		<footer id="footer">
			2015 &copy; AwesomeCSC309
		</footer>
	</div>
	
	<nav id="navigation">
		<ul id="navigation-links" data-bind="foreach: navigationItems">
			<li><a href="#" data-bind="text: text"></a></li>
		</ul>
	</nav>        
</body>
	
<script>
	Controller.init({
		urls:{},
		pageModel:{}
	});
</script>
</html>

