<div id="account-settings">
    
    <h2>ACCOUNT SETTINGS</h2>
    <div>
        <label for="username">Username</label>
        <button id="deactivate-button">Deactivate Account</button>
    </div>
    <div>
        <label for="change-password">Change Password</label>
    </div>
    
    <div>
        <input id="old-password" type="password"></input>
        <label for="old-password">Old Password</label>
    </div>
    
    <div>
        <input id="new-password" type="password"></input>
        <label for="new-password">New Password</label>
    </div>
    
    <div>
        <input id="confirm-password" type="password"></input>
        <label for="confirm-password">Confirm New Password</label>
    </div>
    
    <div>
        <label for="time-zone">Time Zone</label>
    </div>
    
    <div>
        <p>We use your Time Zone to send notification emails, for project activities and reminders. Your Time Zone is currenty set to: </p>
    </div>
    
    <div>
        <a href="#">Change Time Zone</a>
    </div>
    
    <div>
        <button id="sign-out-all-session-button">Sign Out of All Other Sessions</button>    
    </div>
    
    <div>
        <!-- table for session info-->
    </div>
</div>