<div id="notification">
    
    <h2>NOTIFICATIONS</h2>
    <div>
        <label for="projects-you-back">Projects You Back</label>
    </div>
    
    <div>
        <input id="new-comments-you-back" type="checkbox"></input>
        <label for="new-comments-you-back">New Comments</label>
    </div>
    
    <div>
        <input id="new-project-updates" type="checkbox"></input>
        <label for="new-project-updates">New Project Updates</label>
    </div>
    
    <div>
        <label for="projects-you-started">Projects You Started</label>
    </div>
    
    <div>
        <input id="new-comments-you-started" type="checkbox"></input>
        <label for="new-comments-you-started">New Comments</label>
    </div>
    
    <div>
        <input id="new-pledges" type="checkbox"></input>
        <label for="new-pledges">New Pledges</label>
    </div>
    
    <div>
        <label for="communities">Communities</label>
    </div>
    
    <div>
        <input id="new-interesting-projects" type="checkbox"></input>
        <label for="new-interesting-projects">New Interesting Projects in your Communities</label>
    </div>
    
</div>