<div id="profile">
    
    <h2>PROFILE</h2>
    <div>
        <label for="first-name">First Name</label>
        <input id="first-name" type="text"></input>
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text"></input>
    </div>
    <div>
        <input id="email" type="text"></input>
        <label for="email">Email Address</label>
    </div>
    
    <div>
        <label for="country">Country</label>
        <input id="country" type="text"></input>
        <label for="province">Province</label>
        <input id="province" type="text"></input>
        <label for="city">City</label>
        <input id="city" type="text"></input>
    </div>
    
    <div>
        <label for="street-address">Street Address</label>
        <input id="street-address" type="text"></input>
        <label for="postal-code">Postal Code/ZIP</label>
        <input id="postal-code" type="text"></input>
    </div>
    
    <div>
        <label for="phone">Phone Number</label>
        <input id="phone" type="text"></input>
    </div>
    
    <a href="#">Add Avatar</a>
    
    <div>
    <ul>
        <li>Connected with Google+</li>
        <li>Connected with Twitter</li>
    </ul>
    <a href="#">Connect With Social Media</a>
    </div>
    
    <div>
        <textarea id="bio"></textarea>
        <label for="bio"> Bio</label>
    <div>
</div>